{% extends "html/base.html" %}
{% block title %}Add Staff{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        {% comment %} <div class="col-md-3">
            {% include 'html/sidebar.html' %}
        </div> {% endcomment %}
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Add Staff</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_name">Name:</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label for="id_phone">Phone:</label>
                            {{ form.phone }}
                        </div>
                        <div class="form-group">
                            <label for="id_join_date">Join Date:</label>
                            {{ form.join_date }}
                        </div>
                        <div class="form-group">
                            <label for="id_address">Address:</label>
                            {{ form.address }}
                        </div>
                        <button type="submit" class="btn btn-success btn-block mt-2">Add Staff</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
