<!-- home.html -->
{% extends 'html/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include 'html/sidebar.html' %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!-- Main content -->
            <h2 class='mt-5'>Welcome! {{user.username}} </h2>
            <div class="row mt-4">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Staff</h5>
                            <p class="card-text" style="font-size: 40px; color: #007bff; text-align:center;">{{ staff_count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Students</h5>
                            <p class="card-text" style="font-size: 40px; color: #007bff; text-align:center;">{{ student_count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Subjects</h5>
                            <p class="card-text" style="font-size: 40px; color: #007bff; text-align:center;">{{ subject_count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Classes</h5>
                            <p class="card-text" style="font-size: 40px; color: #007bff; text-align:center;">{{ class_count }}</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>
    </div>
</div>
{% endblock %}
