{% extends "html/base.html" %}
{% block title %}Staff{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include 'html/sidebar.html' %}
        <div class="col">
            <div class="row mb-3">
                <div class="col-md-auto mt-5">
                    <a href="{% url 'add_subject' %}" class="btn btn-primary">Add Subject</a>
                </div>
            </div>
            <div class="row">
                <div class="col md-4">
                    <table class="table" id="staff-table">
                        <thead>
                            <tr>
                                <th scope="col">Subject</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for subject in subjects %}
                                <tr data-subject-id="{{ subject.id }}">
                                    <td>{{ subject.subject_name }}</td>
                                    
                                    <td>
                                        <button class='btn btn-danger btn-delete'>Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.btn-delete').forEach(button => {
        button.addEventListener('click', function() {
            const tr = this.closest('tr');
            const subjectId = tr.getAttribute('data-subject-id');
            
            fetch(`/delete_subject/${subjectId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    // If deletion is successful, remove the row from the table
                    tr.remove();
                } else {
                    console.error('Error deleting staff member');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
});
</script>
{% endblock content %}
